body {
	background: hsl(0,0%,85%);
}

ul {
	list-style-type: none;
	margin:0;
	padding:0;
	width:320px;
	height:480px;
	overflow: auto;
	margin:0 auto;
	border: 1px solid hsl(0,0%,90%);
	background:hsl(0,0%,20%);
	padding:20px;
	box-sizing:border-box;
}

li {
	width:100%;
	margin-bottom:20px;
}

div {
	height: 100px;
	width: 100px;
	background:hsl(0,0%,85%);
	color:white;
	line-height:100px;
	text-align:center;
	font-family: "futura-pt",Helvetica;
	font-weight:700;
	text-rendering:optimiseLegibility;
}